{{range .Site.Pages}}
<!--<li>Section: {{.Section}}, Type: {{.Type}} - <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>-->
{{ end }}

{{ $TypesNeeded := slice "episode" }}
{{ $featuredEpisodes := where (where .Site.Pages.ByDate.Reverse "Type" "in" $TypesNeeded) ".Params.featured" "=" true }}
{{ $lastFiveEpisodes := first 5 $featuredEpisodes }}

<!--<ul>
    {{ range $index, $element := $lastFiveEpisodes }}
    <li>
        Index: {{ $index }}<br>
        Title: {{ $element.Title }}<br>
        Date: {{ $element.Date }}<br>
        Permalink: <a href="{{ $element.Permalink }}">{{ $element.Permalink }}</a>
    </li>
    {{ end }}
</ul>-->

<!-- begin featured-post -->
<section class="section featured-post animate">
    <div class="container">
        <div class="section__inner">

            <h2 class="screen-reader-text">Featured Episodes</h2>
            <div class="row">
                <!-- Latest Episode -->
                <div class="col col-6 col-d-12">
                    <div class="row">
                        {{ range $index, $element := $lastFiveEpisodes }}
                        {{ if eq $index 0 }}
                        <div class="col col-12 col-t-12">
                            {{ partial "article.html" (dict "context" $element "class" "article--big") }}
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>

                <!-- Other 2 Latest episodes -->
                <div class="col col-3 col-d-12">
                    <div class="row">
                        {{ range $index, $element := $lastFiveEpisodes }}
                        {{ if and (ge $index 1) (le $index 2)  }}
                        <div class="col col-12 col-d-6 col-t-12">
                            {{ partial "article.html" (dict "context" $element) }}
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>

                <!-- Other 2 Latest episodes -->
                <div class="col col-3 col-d-12">
                    <div class="row">
                        {{ range $index, $element := $lastFiveEpisodes }}
                        {{ if and (ge $index 3) (le $index 4) }}
                        <div class="col col-12 col-d-6 col-t-12">
                            {{ partial "article.html" (dict "context" $element) }}
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- end featured-post -->